PDF_SOURCE_DIR="/Users/skinzey/Library/CloudStorage/GoogleDrive-steve@sk-america.com/My Drive/Math Bible (1)"
DATABASE_PATH="instance/gre2tor.sqlite3"
FLASK_DEBUG=1
SECRET_KEY="change-me-for-local-dev"
GRE2TOR_PORT=8765
GRE2TOR_DISABLE_UPDATE_CHECK=0
